@import '../styles/variables';

ul {
  list-style: none;
  margin: 10px;
  padding: 20px;
}

th {
  font-family: $font-family;
  font-size: 1.5em;
  line-height: 20px;
}

h4 {
  font-family: $font-family;
  font-size: 1.5em;
  line-height: 20px;
}

.Education {
  position:relative;
  top:0px;
  left:220px;
  width: 900px;
  height: 400px;
  background: $white;
  padding-top: 17px;
  padding-left: 35px;
  padding-bottom: 0px;
  padding-right: 40px;
}

.Education td {
  position:relative;
  left:35px;
  background: $gray;
  padding-left: 10px;
}